accelerate
sentence-transformers
transformers
pypdf

langchain-text-splitters
langchain-community
langgraph
langchain-huggingface
langchain-core
langchain-ollama
langchain-chroma

chromadb

tavily-python

flask
