accelerate==1.10.1
sentence-transformers==5.1.0
transformers==4.56.1
pypdf==6.0.0

langchain-text-splitters==0.3.11
langchain-community==0.3.29
langchain-huggingface==0.3.1
langchain-core==0.3.76
langchain-chroma==0.2.5
